In [1]:
# Dependencies
from sklearn import tree
import pandas as pd
import matplotlib.pyplot as plt
import datetime

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy.orm.exc import NoResultFound
from sqlalchemy import create_engine, func, literal_column

from flask import Flask, jsonify, render_template, redirect, request, flash, session

In [2]:
# MySQL Setup
#################################################

DB_CONN_URI_DEFAULT= "mysql://nchwjnkppsn6j4vj:s23q3vtsg2c0a4sv@o3iyl77734b9n3tg.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/zx309qzs0npjpbew?charset=utf8"

engine = create_engine(DB_CONN_URI_DEFAULT)


# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)
print(Base.metadata.tables.keys())

# Save reference to the table
Restaurant = Base.classes.restaurants
ZipRequest = Base.classes.ziprequests
Search_Information = Base.classes.search_information
Users = Base.classes.usersdb
CuisineType = Base.classes.cuisinetype

session = Session(engine)

dict_keys(['Zipcodes', 'cuisinetype', 'price', 'rating', 'restaurants', 'search_information', 'usersdb', 'zipcodes', 'ziprequests'])

In [3]:
# Grab current requested zip code
ziprequests = session.query(ZipRequest).order_by(ZipRequest.lastrequestdate.desc())
current_req = ziprequests[0].requestid
current_req

8854

In [4]:
# Filter restaurants list by requested zipcode
restaurants = session.query(Restaurant).filter(Restaurant.requestid == current_req)
restaurants_df = pd.read_sql("SELECT * FROM restaurants WHERE requestid=" + str(current_req), DB_CONN_URI_DEFAULT)

In [5]:
# Filtered restaurants
restaurants_df = restaurants_df[["cuisine", "delivery", "price", "rating", "reservations", "yelpid"]]
print(len(restaurants_df))
restaurants_df.head()

92

,cuisine,delivery,price,rating,reservations,yelpid
0,Mediterranean,1,$,4.5,1,masala-bay-somerset
1,Mexican,0,$,4.5,0,tacoria-new-brunswick
2,Mexican,0,$$,4.5,0,ramen-nagomi-new-brunswick
3,Italian,0,$$,4.5,0,jozannas-casual-italian-restaurant-middlesex
4,Korean,0,$$,4.5,0,jinas-house-korean-restaurant-highland-park

In [6]:
# Getting YelpIDs of restaurants shown
selections = session.query(Search_Information).filter(Search_Information.userid==1).order_by(Search_Information.searchid.desc()).limit(12).all()

for select in selections:
    current_yelp = select.yelpid
    restaurants_df = restaurants_df[restaurants_df.yelpid != current_yelp]

In [7]:
# One-hot encoding cuisine
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
encoder.fit(restaurants_df['cuisine'])
cuisine_transformed = encoder.transform(restaurants_df['cuisine'])

from keras.utils import to_categorical
one_hot_cuisine = to_categorical(cuisine_transformed)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.
/anaconda3/envs/PythonData/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds)

In [8]:
# Reshaping one_hot_cuisine
chinese = []
french = []
greek = []
italian = []
japanese = []
korean = []
mediterranean = []
mexican = []
thai = []

for one_hot in one_hot_cuisine:
    chinese.append(int(one_hot[0]))
    french.append(int(one_hot[1]))
    greek.append(int(one_hot[2]))
    italian.append(int(one_hot[3]))
    japanese.append(int(one_hot[4]))
    korean.append(int(one_hot[5]))
    mediterranean.append(int(one_hot[6]))
    mexican.append(int(one_hot[7]))
    thai.append(int(one_hot[8]))

In [9]:
# Encoding price
encoder.fit(restaurants_df['price'])
price_transformed = encoder.transform(restaurants_df['price'])

In [10]:
# DataFrame with encoded values
res_new = pd.DataFrame({
    'price': price_transformed,
    'rating': restaurants_df['rating'],
    'reservations': restaurants_df['reservations'],
    'delivery': restaurants_df['delivery'],
    'chinese': chinese,
    'french': french,
    'greek': greek,
    'italian': italian,
    'japanese': japanese,
    'korean': korean,
    'mediterranean': mediterranean,
    'mexican': mexican,
    'thai': thai,
    'yelpid': restaurants_df['yelpid']
})
res_new.head()

,chinese,delivery,french,greek,italian,japanese,korean,mediterranean,mexican,price,rating,reservations,thai,yelpid
0,0,1,0,0,0,0,0,1,0,0,4.5,1,0,masala-bay-somerset
1,0,0,0,0,0,0,0,0,1,0,4.5,0,0,tacoria-new-brunswick
2,0,0,0,0,0,0,0,0,1,1,4.5,0,0,ramen-nagomi-new-brunswick
3,0,0,0,0,1,0,0,0,0,1,4.5,0,0,jozannas-casual-italian-restaurant-middlesex
4,0,0,0,0,0,0,1,0,0,1,4.5,0,0,jinas-house-korean-restaurant-highland-park

In [11]:
# Storing data for specified user (user 1)
results = session.query(Search_Information).filter(Search_Information.userid == 1).all()

data = []
for result in results:
    restaurant = {            
        'price': result.price,
        'rating': float(result.rating),
        'reservations': result.reservations,
        'delivery': result.delivery,
        'cuisine': result.cuisine,
        'like': result.like,
        'yelpid': result.yelpid
    }
    data.append(restaurant)


df = pd.DataFrame(data)
print(len(df))
df.head()

465

,cuisine,delivery,like,price,rating,reservations,yelpid
0,Japanese,0,1,$$$$,3.0,0,meo-hibachi-sushi-steakhouse-fresh-meadows
1,Korean,0,1,$$,4.0,0,picnic-garden-edison
2,Korean,1,1,$$,4.5,0,hanok-tofu-house-east-brunswick
3,Italian,0,1,$$$,4.0,0,novita-bistro-and-lounge-metuchen
4,Mediterranean,0,1,$$,4.0,0,the-orchid-restaurant-metuchen

In [12]:
# One-hot encoding cuisine
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
encoder.fit(df['cuisine'])
cuisine_transformed = encoder.transform(df['cuisine'])

from keras.utils import to_categorical
one_hot_cuisine = to_categorical(cuisine_transformed)

In [13]:
# Reshaping one_hot_cuisine
chinese = []
french = []
greek = []
italian = []
japanese = []
korean = []
mediterranean = []
mexican = []
thai = []

for one_hot in one_hot_cuisine:
    chinese.append(int(one_hot[0]))
    french.append(int(one_hot[1]))
    greek.append(int(one_hot[2]))
    italian.append(int(one_hot[3]))
    japanese.append(int(one_hot[4]))
    korean.append(int(one_hot[5]))
    mediterranean.append(int(one_hot[6]))
    mexican.append(int(one_hot[7]))
    thai.append(int(one_hot[8]))

In [14]:
# Encoding price
encoder.fit(df['price'])
price_transformed = encoder.transform(df['price'])

In [15]:
# DataFrame with encoded values
df_new = pd.DataFrame({
    'price': price_transformed,
    'rating': df['rating'],
    'reservations': df['reservations'],
    'delivery': df['delivery'],
    'chinese': chinese,
    'french': french,
    'greek': greek,
    'italian': italian,
    'japanese': japanese,
    'korean': korean,
    'mediterranean': mediterranean,
    'mexican': mexican,
    'thai': thai,
    'like': df['like'],
    'yelpid': df['yelpid']
})
df_new.head()

,chinese,delivery,french,greek,italian,japanese,korean,like,mediterranean,mexican,price,rating,reservations,thai,yelpid
0,0,0,0,0,0,1,0,1,0,0,3,3.0,0,0,meo-hibachi-sushi-steakhouse-fresh-meadows
1,0,0,0,0,0,0,1,1,0,0,1,4.0,0,0,picnic-garden-edison
2,0,1,0,0,0,0,1,1,0,0,1,4.5,0,0,hanok-tofu-house-east-brunswick
3,0,0,0,0,1,0,0,1,0,0,2,4.0,0,0,novita-bistro-and-lounge-metuchen
4,0,0,0,0,0,0,0,1,1,0,1,4.0,0,0,the-orchid-restaurant-metuchen

In [16]:
# X & y values
X = df_new.loc[:, (df_new.columns != 'like') & (df_new.columns != 'yelpid')]
y = df_new['like']

In [17]:
# Splitting data into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=40)

In [18]:
# Fitting data to Random Forest
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=33)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.7094017094017094

In [19]:
# Predicting data
X_res = res_new.loc[:, res_new.columns != 'yelpid']
predictions = rf.predict(X_res)
predictions

array([1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1])

In [20]:
location = 0
for x in range(len(predictions)):
    if predictions[x] == 1:
        location = x
        break
        
location

0

In [21]:
yelpid = res_new.iloc[0,:].yelpid

In [22]:
yelpid

'masala-bay-somerset'