In [1]:
# Dependencies
from sklearn import tree
import pandas as pd
import matplotlib.pyplot as plt

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy.orm.exc import NoResultFound
from sqlalchemy import create_engine, func, literal_column

from flask import Flask, jsonify, render_template, redirect, request, flash, session

In [2]:
# MySQL Setup
#################################################

DB_CONN_URI_DEFAULT= "mysql://nchwjnkppsn6j4vj:s23q3vtsg2c0a4sv@o3iyl77734b9n3tg.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/zx309qzs0npjpbew?charset=utf8"

engine = create_engine(DB_CONN_URI_DEFAULT)


# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)
print(Base.metadata.tables.keys())

# Save reference to the table
Restaurant = Base.classes.restaurants
ZipRequest = Base.classes.ziprequests
Search_Information = Base.classes.search_information
Users = Base.classes.usersdb
CuisineType = Base.classes.cuisinetype

sessiondb = Session(engine)

dict_keys(['Zipcodes', 'cuisinetype', 'price', 'rating', 'restaurants', 'search_information', 'usersdb', 'zipcodes', 'ziprequests'])

In [3]:
# Storing data for specified user
results = sessiondb.query(Search_Information).filter(Search_Information.userid == 1).all()

data = []
for result in results:
    restaurant = {            
        'price': result.price,
        'rating': float(result.rating),
        'reservations': result.reservations,
        'delivery': result.delivery,
        'cuisine': result.cuisine,
        'like': result.like,
        'userid': result.userid
    }
    data.append(restaurant)


df = pd.DataFrame(data)
print(len(df))
df.head()

183

         cuisine  delivery  like price  rating  reservations  userid
0       Japanese         0     1  $$$$     3.0             0       1
1         Korean         0     1    $$     4.0             0       1
2         Korean         1     1    $$     4.5             0       1
3        Italian         0     1   $$$     4.0             0       1
4  Mediterranean         0     1    $$     4.0             0       1

In [4]:
# One-hot encoding cuisine
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
encoder.fit(df['cuisine'])
cuisine_transformed = encoder.transform(df['cuisine'])

from keras.utils import to_categorical
one_hot_cuisine = to_categorical(cuisine_transformed)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.
/anaconda3/envs/PythonData/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds)

In [5]:
# Adjusting one hot to fit df
chinese = []
french = []
greek = []
italian = []
japanese = []
korean = []
mediterranean = []
mexican = []
thai = []

for one_hot in one_hot_cuisine:
    chinese.append(int(one_hot[0]))
    french.append(int(one_hot[1]))
    greek.append(int(one_hot[2]))
    italian.append(int(one_hot[3]))
    japanese.append(int(one_hot[4]))
    korean.append(int(one_hot[5]))
    mediterranean.append(int(one_hot[6]))
    mexican.append(int(one_hot[7]))
    thai.append(int(one_hot[8]))

In [6]:
# Encoding price
encoder.fit(df['price'])
encoder.classes_

price_transformed = encoder.transform(df['price'])

In [7]:
# DataFrame with encoded values
df_new = pd.DataFrame({
    'price': price_transformed,
    'rating': df['rating'],
    'reservations': df['reservations'],
    'delivery': df['delivery'],
    'chinese': chinese,
    'french': french,
    'greek': greek,
    'italian': italian,
    'japanese': japanese,
    'korean': korean,
    'mediterranean': mediterranean,
    'mexican': mexican,
    'thai': thai,
    'userid': df['userid']
})
df_new.head()

,chinese,delivery,french,greek,italian,japanese,korean,mediterranean,mexican,price,rating,reservations,thai,userid
0,0,0,0,0,0,1,0,0,0,3,3.0,0,0,1
1,0,0,0,0,0,0,1,0,0,1,4.0,0,0,1
2,0,1,0,0,0,0,1,0,0,1,4.5,0,0,1
3,0,0,0,0,1,0,0,0,0,2,4.0,0,0,1
4,0,0,0,0,0,0,0,1,0,1,4.0,0,0,1

In [8]:
# Target value
target = df['like']

In [9]:
# Fitting data to Random Forest
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=33)
rf = rf.fit(df_new, target)
rf.score(df_new, target)

0.8743169398907104

In [ ]:
# Predicting data
predictions = rf.predict(X_train)
predictions