In [7]:
import json
import csv
import pandas as pd
import numpy as np
from datetime import datetime

In [9]:
#read the file and store it in dataframe
starbucks=pd.read_csv("Resources/starbucks_usa.csv")
# starbucks=starbucks.dropna(axis=1, how='all')
# starbucks["Temp"]=''
starbucks.head()

,Unnamed: 0,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Longitude,Latitude
0,11964,Starbucks,3513-125945,Safeway-Anchorage #1809,Licensed,5600 Debarr Rd Ste 9,Anchorage,AK,US,99504.0,-149.78,61.21
1,11965,Starbucks,74352-84449,Safeway-Anchorage #2628,Licensed,1725 Abbott Rd,Anchorage,AK,US,99507.0,-149.84,61.14
2,11966,Starbucks,12449-152385,Safeway - Anchorage #1813,Licensed,1501 Huffman Rd,Anchorage,AK,US,99515.0,-149.85,61.11
3,11967,Starbucks,24936-233524,100th & C St - Anchorage,Company Owned,"320 W. 100th Ave, 100, Southgate Shopping Ctr ...",Anchorage,AK,US,99515.0,-149.89,61.13
4,11968,Starbucks,8973-85630,Old Seward & Diamond,Company Owned,1005 E Dimond Blvd,Anchorage,AK,US,99515.0,-149.86,61.14

In [10]:
coordinates = []

for index, row in starbucks.iterrows():
    
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    coordinate = (lat, lng)
    
    coordinates.append(coordinate)

In [12]:
len(coordinates)

13608

In [13]:
ykey_access_token = "6dF_ksyC2PaHJDLhgr2_joA12Zb48JjopdvVAGD3jJ49uPuy_Cvbo-WHjusl8rYpPqYJHoHgT053pZgvr6T6EXDTxq5BDCJBFetpbAkdVneMDSTk88RqOMnZeABhWnYx"